.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    transform: rotate(180deg);
    object-fit: cover;
    /* ensures video covers the area */
}

.fadeDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    z-index: -1;
}

.homeHeader {
    font-size: 150px;
}

@media (max-width: 1300px) {
    .homeHeader {
        font-size: 50px;
    }
}

@media (max-width: 450px) {
    .homeHeader {
        font-size: 30px;
        padding: 0 10px;
    }
}