/* ImageSlider.css */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
}

.slider {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.linkWrapper {
    display: inline-block;
    text-decoration: none;
    position: relative;
    /* so the icon can be positioned inside */
}

.image {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.1);
}

.outsideButton {
    font-size: 48px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
}